.height{
    height: 60px;
}

.black{
    background-color: #292929;
}

.yellow{
    background-color: #f5f500;
}

.red{
    background-color: #F40000;
}

.brown{
    background-color: #964201;
}

.blue{
    background-color: #006db8;
}

.pink{
    background-color: #F2B889;
}